#book-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 80vw;
    align-items: center;

    #books-list {
        width: 100%;
        .list-item {
            width: 100%;

            &:hover .delete-icon {
                color: black;
            }
        }
    }
}

#book-detail-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    >h3 {
        align-self: center;
        margin-bottom: 8px;
    }
}

.lock-icon {
    transform: scale(1.5);
    align-self: center;
    width: 36px;
    height: 100px;
    &:hover {
        color: var(--primary) !important;
    }
}

.delete-icon {
    color: rgba(0, 0, 0, 0.219);
    &:hover {
        color: red !important;
    }
}