* {
	box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0 auto;
  align-content: center;
  font-weight: normal;
  gap: 15px;
}
