:root {
  --primary: #4D95FF;
  --primary-dark: #004CAA;
  --secondary: #B27FE7;
  --tertiary: #CDE1FF;
  --success: #00995c;
  --success-transparent: #00995cc9;
  --danger: #b91929;
  --danger-transparent: #b91929be;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
